body {
    background-color: rgb(244, 249, 210);
}

a {
    color: darkblue;
}

a:hover {
    color: blueviolet
}

h1 {
    text-align: center;
    margin-bottom: -15px;
}

.subtitel {
    text-align: center;
}

h2 {
    margin-bottom: -3px;
}

.gegevens {
    margin-top: 0px;
    margin-bottom: -5px;
}

hr {
    color: black;
    border: 1px solid black;
    margin-bottom: -5px;
}

.doel {
    margin-bottom: 20px;
}

#menu {
    list-style-type: none;
    margin-top: -22px;
    margin-left: -8px;
    padding: 0;
    width: 130px;
    background-color: rgb(6, 142, 152);
    height: 100%;
    position: fixed;
    overflow: auto;
    border: 1px solid black;
}

li a {
    display: block;
    color: darkblue;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid black;
}

li:last-child a {
    border-bottom: none;
}

li a:hover {
    background-color: rgb(159, 215, 219);
    color: blueviolet;
}

.active {
    background-color: rgb(159, 215, 219);
    color: white;
}
.socials {
    margin-top: 8px;
    text-align: left;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}
caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.completedcourse {
    background-color: rgb(10, 209, 26);
}
.ungradedcourse {
    background-color: rgb(244, 249, 210);
}
.partialungradedcourse {
    background-color: rgb(241, 241, 231);
}
.partialpassedcourse {
    background-color: rgb(234, 197, 12);
}
.failedcourse {
    background-color: rgb(255, 0, 0);
}
meter {transform: rotate(-90deg);
width: 380px;
height: 250px;
margin-top: 50px;
position: absolute;
inset: 490px 0 0 325px;}
meter::after {
    content: "0/60EC";
    position: absolute;
    top: 115px;
    left: 125px;
    transform: rotate(90deg);
}